<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teddy Paradise</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/base.css">
    <link rel="stylesheet" href="../static/assets/fonts/fontawesome-free-6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="app">
        <div class="grid">
            <header class="header">
                <div class="header_intro">
                    <ul class="header_intro-list">
                        <li class="header_intro-item" style="font-weight: bold;">Sáng tạo không giới hạn</li>
                    </ul>

                    <ul class="header_intro-list">
                        <li class="header_intro-item header_intro-item-separate tooltip">
                            <i class="header_intro-icon fa-regular fa-clock"></i>
                            08:00 - 17:00
                            <div class="subintro">Giờ làm việc</div>
                        </li>
                        <li class="header_intro-item tooltip">
                            <i class="header_intro-icon fa-solid fa-phone"></i>
                            +84 904091648
                            <div class="subintro">SĐT liên hệ</div>
                        </li>
                    </ul>
                </div>

                <nav class="header_navbar">
                    <a href="/" class="header_navbar-logo">
                        <img src="../static/assets/img/Gemini_Generated_Image_krh9ixkrh9ixkrh9.jpg" alt="" title="Teddy Paradise - teddyparadise.com" class="header_navbar-logo">
                    </a>
                    <ul class="header_navbar-list">
                        <li class="header_navbar-item"><a href="/">Trang chủ</a></li>
                        <li class="header_navbar-item"><a href="/introduce">Giới thiệu</a></li>
                        <li class="header_navbar-item"><a href="/products">Sản phẩm</a></li>
                        <li class="header_navbar-item"><a href="/contact">Liên hệ</a></li>
                    </ul>                    <div class="header_navbar-btn">
                        <div class="header_navbar-btn-item search-btn">
                            <button>
                                <i class="fa-solid fa-magnifying-glass">
                                    <img src="../static/assets/img/search.png" alt="">

                                </i></button>
                            <i class="fa-solid fa-search"></i>
                        </div>
                        <div class="header_navbar-search">
                            <input type="text" placeholder="Tìm kiếm..." />
                        </div>
                        <div class="separator"></div>
                        <div class="header_navbar-btn-item js_login">
                            <button>Đăng nhập</button>
                        </div>
                        <div class="separator"></div>
                        <div class="header_navbar-btn-item js_logout">
                            <button>Đăng xuất</button>
                        </div>
                        <div class="separator"></div>
                        <div class="header_navbar-btn-item cart_shopping">
                            <a href="/cart">
                                Giỏ hàng
                                <i style="color: white;" class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>

                </nav>
            </header>
        </div>

        <div class="grid">
            <div class="product_container">
                <div class="product_title">
                    <a href="/" class="product_title-text product_title-trangchu">TRANG CHỦ</a>
                    <div class="product_title-text divider">/</div>
                    <p class="product_title-text product_title-sanpham">SẢN PHẨM</p>
                </div>

                <div class="product_list">
                    <div class="product_list-item">
                        <img src="../static/assets/img/product1.png" alt="Gấu nhồi bông cho bé ôm ngủ đáng yêu">
                        <p class="product_list-title">Gấu nhồi bông cho bé ôm ngủ đáng yêu</p>
                        <p class="product_list-price">270.000₫</p>
                        <button class="product_list-addtocart" data-id="1"
                            data-name="Gấu nhồi bông cho bé ôm ngủ đáng yêu" data-price="270000"
                            data-image="../static/assets/img/product1.png">THÊM VÀO GIỎ HÀNG</button>
                    </div>

                    <div class="product_list-item">
                        <img src="../static/assets/img/product2.png" alt="Gấu bông Shiba đầu to thân nhỏ">
                        <p class="product_list-title">Gấu bông Shiba đầu to thân nhỏ</p>
                        <p class="product_list-price">320.000₫</p>
                        <button class="product_list-addtocart" data-id="2" data-name="Gấu bông Shiba đầu to thân nhỏ"
                            data-price="320000" data-image="../static/assets/img/product2.png">THÊM VÀO GIỎ HÀNG</button>
                    </div>

                    <div class="product_list-item">
                        <img src="../static/assets/img/product3.png" alt="Kuromi ôm búp bê">
                        <p class="product_list-title">Kuromi ôm búp bê</p>
                        <p class="product_list-price">280.000₫</p>
                        <button class="product_list-addtocart" data-id="3" data-name="Kuromi ôm búp bê"
                            data-price="280000" data-image="../static/assets/img/product3.png">THÊM VÀO GIỎ HÀNG</button>
                    </div>

                    <div class="product_list-item">
                        <img src="../static/assets/img/product4.png" alt="Gà vô tri Kichi Hihi">
                        <p class="product_list-title">Gà vô tri Kichi Hihi</p>
                        <p class="product_list-price">380.000₫</p>
                        <button class="product_list-addtocart" data-id="4" data-name="Gà vô tri Kichi Hihi"
                            data-price="380000" data-image="../static/assets/img/product4.png">THÊM VÀO GIỎ HÀNG</button>
                    </div>

                    <div class="product_list-item">
                        <img src="../static/assets/img/product5.png" alt="Gấu bông Hải Ly Loopy Cosplay">
                        <p class="product_list-title">Gấu bông Hải Ly Loopy Cosplay</p>
                        <p class="product_list-price">320.000₫</p>
                        <button class="product_list-addtocart" data-id="5" data-name="Gấu bông Hải Ly Loopy Cosplay"
                            data-price="320000" data-image="../static/assets/img/product5.png">THÊM VÀO GIỎ HÀNG</button>
                    </div>

                    <div class="product_list-item">
                        <img src="../static/assets/img/product6.png" alt="Gấu bông chuột lang nước cõng rùa Capypara">
                        <p class="product_list-title">Gấu bông chuột lang nước cõng rùa Capypara</p>
                        <p class="product_list-price">360.000₫</p>
                        <button class="product_list-addtocart" data-id="6"
                            data-name="Gấu bông chuột lang nước cõng rùa Capypara" data-price="360000"
                            data-image="../static/assets/img/product6.png">THÊM VÀO GIỎ HÀNG</button>
                    </div>

                    <div class="product_list-item">
                        <img src="../static/assets/img/product7.png" alt="Gấu trúc trong ống tre Tori Panda">
                        <p class="product_list-title">Gấu trúc trong ống tre Tori Panda</p>
                        <p class="product_list-price">280.000₫</p>
                        <button class="product_list-addtocart" data-id="7" data-name="Gấu trúc trong ống tre Tori Panda"
                            data-price="280000" data-image="../static/assets/img/product7.png">THÊM VÀO GIỎ HÀNG</button>
                    </div>

                    <div class="product_list-item">
                        <img src="../static/assets/img/product8.png" alt="Cặp đôi heo hồng Wedding Pig">
                        <p class="product_list-title">Cặp đôi heo hồng Wedding Pig</p>
                        <p class="product_list-price">260.000₫</p>
                        <button class="product_list-addtocart" data-id="8" data-name="Cặp đôi heo hồng Wedding Pig"
                            data-price="260000" data-image="../static/assets/img/product8.png">THÊM VÀO GIỎ HÀNG</button>
                    </div>

                    <div class="product_list-item">
                        <img src="../static/assets/img/product9.png" alt="Bé cừu béo Shaun The Sheep">
                        <p class="product_list-title">Bé cừu béo Shaun The Sheep</p>
                        <p class="product_list-price">190.000₫</p>
                        <button class="product_list-addtocart" data-id="9" data-name="Bé cừu béo Shaun The Sheep"
                            data-price="190000" data-image="../static/assets/img/product9.png">THÊM VÀO GIỎ HÀNG</button>
                    </div>

                    <div class="product_list-item">
                        <img src="../static/assets/img/product10.png" alt="Mèo Lucifer mặt quạo">
                        <p class="product_list-title">Mèo Lucifer mặt quạo</p>
                        <p class="product_list-price">560.000₫</p>
                        <button class="product_list-addtocart" data-id="10" data-name="Mèo Lucifer mặt quạo"
                            data-price="560000" data-image="../static/assets/img/product10.png">THÊM VÀO GIỎ HÀNG</button>
                    </div>

                    <div class="product_list-item">
                        <img src="../static/assets/img/product11.png" alt="Khủng long Nisa baby">
                        <p class="product_list-title">Khủng long Nisa baby</p>
                        <p class="product_list-price">220.000₫</p>
                        <button class="product_list-addtocart" data-id="11" data-name="Khủng long Nisa baby"
                            data-price="220000" data-image="../static/assets/img/product11.png">THÊM VÀO GIỎ HÀNG</button>
                    </div>

                    <div class="product_list-item">
                        <img src="../static/assets/img/product12.png"
                            alt="Gấu bông ủ tay kèm chăn Lotso cao cấp 3 in 1">
                        <p class="product_list-title">Gấu bông ủ tay kèm chăn Lotso cao cấp 3 in 1</p>
                        <p class="product_list-price">430.000₫</p>
                        <button class="product_list-addtocart" data-id="12"
                            data-name="Gấu bông ủ tay kèm chăn Lotso cao cấp 3 in 1" data-price="430000"
                            data-image="../static/assets/img/product12.png">THÊM VÀO GIỎ HÀNG</button>
                    </div>
                </div>


                <div class="grid">
                    <div class="footer">
                        <div class="footer_info">
                            <div class="footer_info-content">
                                <img src="../static/assets/img/Gemini_Generated_Image_krh9ixkrh9ixkrh9-fotor-20241009183056-removebg-preview.png"
                                    alt="" class="footer_info-logo">
                            </div>

                            <div class="footer_info-content">
                                <h3 class="footer_info-heading">THÔNG TIN LIÊN HỆ</h3>
                                <div class="footer_info-line"></div>
                                <p class="footer_info-text">Số hotline được trực trong khung giờ từ 9h-17h mỗi T2 – T7
                                    hàng tuần</p>
                                <p class="footer_info-text">Đường dây nóng: +84 904 091 648</p>
                                <p class="footer_info-text">P. Nguyễn Trác, Yên Nghĩa, Hà Đông, Hà Nội</p>
                            </div>

                            <div class="footer_info-content">
                                <h3 class="footer_info-heading">CHÍNH SÁCH</h3>
                                <div class="footer_info-line"></div>
                                <a href="" class="footer_info-text footer_info-policy">Chính sách bảo hành</a>
                                <a href="" class="footer_info-text footer_info-policy">Chính sách đổi trả</a>
                                <a href="" class="footer_info-text footer_info-policy">Chính sách vận chuyển</a>
                                <a href="" class="footer_info-text footer_info-policy">Chính sách bảo mật</a>
                                <a href="" class="footer_info-text footer_info-policy">Câu hỏi thường gặp</a>
                            </div>

                            <div class="footer_info-content">
                                <h3 class="footer_info-heading">KẾT NỐI VỚI CHÚNG TÔI</h3>
                                <div class="footer_info-line"></div>
                                <a href="https://www.facebook.com/tedomi.norikarin.5/" class="footer_info-btn">
                                    <img src="https://lenxinhxiu.com/wp-content/uploads/2024/10/768px-Facebook-icon-1-400x400.png"
                                        alt="">
                                </a>
                            </div>
                        </div>

                        <div class="footer_payment">
                            <div class="footer_payment-wrapper">
                                <div class="footer_payment-app">
                                    <i class="fa-brands fa-cc-visa"></i>
                                </div>

                                <div class="footer_payment-app">
                                    <i class="fa-brands fa-cc-paypal"></i>
                                </div>

                                <div class="footer_payment-app">
                                    <i class="fa-brands fa-stripe"></i>
                                </div>

                                <div class="footer_payment-app">
                                    <i class="fa-brands fa-cc-mastercard"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal js_modal">
                <div class="modal_overlay js_overlay"></div>
                <div class="modal_body">
                    <!-- Login Form -->
                    <div class="auth_form js_login-form">
                        <div class="auth_form-header">
                            <h3 class="auth_form-heading">ĐĂNG NHẬP</h3>
                            <span class="auth_form-switch js_switch">ĐĂNG KÝ</span>
                        </div>

                        <div class="auth_form-form">
                            <div class="auth_form-group">
                                <input type="text" class="auth_form-input" placeholder="Tên đăng nhập">
                            </div>
                            <div class="auth_form-group">
                                <input type="password" class="auth_form-input" placeholder="Mật khẩu">
                            </div>
                        </div>

                        <div class="auth_form-remember">
                            <label>
                                <input type="checkbox" class="auth_form-check">
                                <span class="auth_form-remember-text">Ghi nhớ mật khẩu</span>
                            </label>
                        </div>

                        <div class="auth_form-controls">
                            <button class="btn btn_back js_modal-close">TRỞ LẠI</button>
                            <button class="btn btn_login btn_login-register">ĐĂNG NHẬP</button>
                        </div>

                        <div class="auth_form-forget">
                            <a href="">Quên mật khẩu?</a>
                        </div>
                    </div>

                    <!-- Register Form -->
                    <div class="auth_form js_register-form" style="display: none;">
                        <div class="auth_form-header">
                            <h3 class="auth_form-heading">ĐĂNG KÝ</h3>
                            <span class="auth_form-switch js_switch">ĐĂNG NHẬP</span>
                        </div>

                        <div class="auth_form-form">
                            <div class="auth_form-group">
                                <input type="text" class="auth_form-input" placeholder="Tên đăng nhập">
                            </div>
                            <div class="auth_form-group">
                                <input type="password" class="auth_form-input" placeholder="Mật khẩu">
                            </div>
                            <div class="auth_form-group">
                                <input type="password" class="auth_form-input" placeholder="Nhập lại mật khẩu">
                            </div>
                        </div>

                        <div class="auth_form-aside">
                            <p class="auth_form-policy">Dữ liệu cá nhân của bạn sẽ được sử dụng để hỗ trợ trải nghiệm
                                của bạn trên toàn bộ trang web này, quản lý quyền truy cập vào tài khoản của bạn, và cho
                                các mục đích khác được mô tả trong chính sách riêng tư của chúng tôi.</p>
                        </div>

                        <div class="auth_form-controls">
                            <button class="btn btn_back js_modal-close">TRỞ LẠI</button>
                            <button class="btn btn_register btn_login-register">ĐĂNG KÝ</button>
                        </div>
                    </div>
                </div>
            </div>

            <script src="../static/assets/js/search.js"></script>
            <script src="../static/assets/js/auth.js"></script>
            <script src="../static/assets/js/order.js"></script>

</body>

</html>